* {
font-size: 15px;
}

h1 {
    color:darkgreen;
    font-family: "Sofia", sans-serif;
  }

.header {
    background-color: rgb(243, 243, 211);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 20px rgb(243, 243, 211);
  }

.main-menu li {
    list-style-type: none;
    display: inline-block;
    padding-right: 100px;
    margin-top: 40px;
}

.form-control {
  height: 30px;
  width: 50px;
  position: relative;  
  right: 340%;
}





